<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    類別
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<div class="title_value d-flex align-items-center">
  <p class="lead">總金額：</p>
  <h1 class="ml-3" style="color:brown">{{value}}99999 (test) </h1>
</div>

<div class="list-group" style="max-width: 500px;">
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
    <div class="row">
      <span class="col-3" style="font-size: 36px">
        <i class="fas fa-shuttle-van"></i>
      </span>
      <div class="col-7">
        <h5 class="mb-1">午餐{{name}}</h5>
        <small>2021/10/25 {{date}}</small>
      </div>
      <h3 class="col-2">200 {{amount}} </h3>
    </div>
  </a>

  
</div>